html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #9a9a9a;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 20px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-custom {
  background-color: rgb(143, 91, 200);
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.form-custom div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.form-custom input {
  width: 100%;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da; /* border: ancho del borde , estilo, color  */
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;

  border: 1px solid transparent; /* [ancho, estilo, color] */
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
  color: #fff;
  background-color: rgb(61, 27, 98);
  border-color: rgb(61, 27, 98);
}

/* estilos del hoven a la clase btn-primary */

.btn-primary:hover {
  color: #fff;
  background-color: rgb(86, 35, 139);
  border-color: rgb(86, 35, 139);
}
